.form-inline {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
}
.form-control {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  border-color: #808080;
  border-width: 1px;    
}
.form-control:hover {
  border-color: #000;
}
.form-control:focus {
  border-color: #4e75ff; 
  outline: solid;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;  
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #6c8cff;
}
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
} 
.gallery {
    display: flex;
    gap: 30px;
    list-style-type: none;  
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;

}
.img-blok{
  width: 360px;
 border: #808080 solid 1px;
 background: 5px;
}
li, a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #2e2f42;
  text-align: center;
}
.image-descript{
  flex-wrap: nowrap;
  display: flex;
  gap: 14px;
  list-style-type: none;
  justify-content: center;
  padding:10px;
  height: 48px;
  font-size: 12px;
}
img{
  display: block;
  height: 200px;
  width: 360px;
  object-fit: cover;
}
.preloader { 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
  background: #e0e0e09e;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}